.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-gray-100);
  padding: 20px;
}

.login-box,
.register-box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 90dvw;
  max-width: 400px;
}

.logo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-block: 0;
  margin-block: 5px;
  padding-left: 0;
  font-weight: bolder;
  color: var(--color-primary);
  font-size: 30px;
}

.logo img {
  width: 35px;
}

.logo h1 {
  font-size: 1.8rem;
  margin: 0;
}

.register-box h2 {
  text-align: center;
  margin-bottom: 24px;
  color: var(--color-gray-800);
}

.register-box .form-group{
  width: 100%;
}

.login-btn {
  width: 100%;
  margin-top: 10px;
}

.register-section {
  margin-top: 24px;
  text-align: center;
}

.register-section p {
  margin-bottom: 12px;
  color: var(--color-gray-600);
  font-size: 0.9rem;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 24px;
}

.form-buttons button {
  flex: 1;
}
